


    <% @updates.each do |update| %>

      <div class="column">
        <div  class="box">
          <%= link_to update.novel.title ,("http://ncode.syosetu.com/#{update.ncode}") %>
        </div>
        <%= update.novel.story%>
      </div>
    </div>
    <% end %>
<br>
