<% @updates.each do |update| %>
<div class='box'>

    <div class= "tile is-ancestor">
        <div class="tile is-parent ">
            <article  class="tile is-child">
                <p class="title">
                    <%= link_to "#{update.novel.title}" ,("http://ncode.syosetu.com/#{update.ncode}") ,class: 'is primary' %>
                </p>
                <p class="subtitle">
                    
                    <%= link_to update.novel.user.writer ,("http://mypage.syosetu.com//#{update.novel.user.id}") %>
                </p>
            </article>
    
        </div>
    </div>
    <div class= "tile is-ancestor">
        <div class="tile is-parent ">
              <article class="tile is-child notification">
                  <%= update.novel.story%>       
                </article>
    
        </div>
    </div>
    </div>
    <% end %>
<br>
<hr>
<div class='box'>
<%= render partial: "graph"%>
</div>
<hr>
<canvas id="myChart" width="400" height="400"></canvas>

<script>
var data = {
    datasets: [
        {
            label: 'Update count',
            data: gon.update_data,
            backgroundColor:"#FF6384",
            hoverBackgroundColor: "#FF6384",
        }]
};
var ctx = document.getElementById("myChart");
var myBubbleChart = new Chart(ctx,{
    type: 'bubble',
    data: data,
    options: {
        elements: {
            points: {
                borderWidth: 1,
                borderColor: 'rgb(0, 0, 1)'
            }
        }
    }
});
</script>